.flex-table {
	width: 100%;

	.heading, .row {
		@include flexbox();
		flex-wrap: nowrap;
		width: 100%;
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			margin: 0;
		}
		.photo, .action { max-width: 50px; min-width: 50px; }
		.ttc, .ht { max-width: 80px; min-width: 80px; }
		.km, .tva { max-width: 100px; min-width: 100px; }
		.type, .date { max-width: 200px; min-width: 200px; }
	}

	.heading {
		margin: 0;
		padding: 0 0 10px 0;
		li {
			list-style-type: none;
			width: 100%;
			color: $color__main;
			font-weight: 800;
			font-size: 14px;
			padding: 0 4px;
		}
	}

	.row {
		li {
			width: 100%;
			padding: 2px;
			max-height: 54px;
			span[contenteditable] {
				background: $color__grey;
				padding: 14px;
				display: inline-block;
				width: 100%;
				font-size: 14px;
				max-height: 50px;
				min-height: 50px;
				white-space: nowrap;
				overflow: hidden;
				@include transition;
				border: 1px solid rgba( $color__main, 0 );
				&:focus {
					border: 1px solid rgba( $color__main, 0.8 );
				}
			}
			&.disabled span {
				background: url("images/disabled-pattern.png") $color__grey;
				pointer-events: none;
				&:hover {
					cursor: default;
				}
			}
			&.ttc, &.tva {
				font-weight: 700;
			}
			&.photo {
				.media {
					background: $color__grey;
				}
			}
		}
		&:nth-of-type( odd ) {
			span[contenteditable], .toggle .content {
				background: darken( $color__grey, 5% );
			}
			.disabled span {
				background: url("images/disabled-pattern.png") darken( $color__grey, 5% ) !important;
			}
			.toggle .content:before {
				border-color: transparent transparent darken( $color__grey, 6% ) transparent;
			}
			.toggle .content {
				&:before {

				}
			}
			.photo {
				.media {
					background: darken( $color__grey, 6% );
				}
			}
		}
		.action {
			text-align: center;
			.icon {
				line-height: 50px;
				color: rgba(0,0,0,0.4);
				font-size: 18px;
				@include transition;
				&:hover {
					cursor: pointer;
					color: rgba(0,0,0,0.8);
				}
			}
		}
		&:not(.add) {
			.icon.ion-ios-plus {
				display: none;
			}
		}
		&.add {
			margin-bottom: 20px;
			.icon {
				color: $color__blue;
				&:hover {
					color: lighten($color__blue, 20%);
				}
				&.ion-trash-a {
					display: none;
				}
			}
		}
	}

	@media ( max-width: 1200px ) {
		.heading, .row {
			.photo, .action { max-width: 50px; min-width: 50px; }
			.ttc, .ht { max-width: 80px; min-width: 80px; }
			.km, .tva { max-width: 80px; min-width: 80px; }
			.type, .date { max-width: 120px; min-width: 120px; }
		}
	}
	@media ( max-width: 1000px ) {
		.heading {
			display: none;
		}
		.row {
			flex-wrap: wrap;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			li {
				margin: 0;
				max-height: none;
				&:before {
					display: block;
					color: $color__main;
					font-weight: 800;
					font-size: 14px;
					padding: 0 4px;
					margin-bottom: 4px;
					content: attr(data-title);
				}
			}
			.photo, .action, .ttc, .ht, .km, .tva, .type, .date  {
				max-width: none;
				min-width: 0;
			}
			.date { width: 70%; order: 2; }
			.libelle { width: 100%; order: 4; }
			.type { width: 50%; order: 5; }
			.km { width: 50%; order: 6; }
			.ttc { width: 33.333333%; order: 7; }
			.ht { width: 33.333333%; order: 8; }
			.tva { width: 33.333333%; order: 9; }
			.photo { order: 1; max-width: 50px; min-width: 50px; }
			.action { order: 3; width: auto; margin-left: auto; }
		}
	}
	@media ( max-width: 360px ) {
		.row {
			li {
				width: 100% !important;
			}
			.action { order: 20; }
		}
	}
}
