/**
 * .toggle -> classe de base
 * .list -> Affiche en liste simple
 * .grid -> Affiche en grille sans marge
 * 		.padding -> Ajoute des marges aux enfants
 * .option -> Affiche une liste d'options
 */

.toggle {
	position: relative;

	.action {
		position: relative;
		text-align: left !important;
		width: 100%;
		max-width: none !important;
		min-width: 0 !important;

		> * {
			display: block;
		}
		.label {
			padding-right: 24px;
		}
		.icon {
			line-height: 1 !important;
			position: absolute;
			top: 16px;
			right: 20px;
			color: rgba(0,0,0,0.6) !important;

		}
		&:hover {
			cursor: pointer;
			.icon {
				transform: translateY(4px);
			}
		}
	}
	.content {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-6px);
		background: $color__grey;
		transition: all 0.2s ease-out;
		position: absolute;
		z-index: 99;
		padding: 0;
		width: 100%;
		max-width: 220px;

		&:before {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 6px 6px;
			position: absolute;
			top: -6px;
			left: 20px;
			border-color: transparent transparent $color__grey transparent;
		}
		&.active {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}
		.item {
			padding: 8px 12px;
			@include transition;
			&:hover {
				background: rgba(0,0,0,0.05);
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.toggle {
		&.option {
			.content {
				left: auto;
				right: -10px;
				&:before {
					left: auto;
					right: 20px;
				}
			}
		}
	}
}
