@charset "UTF-8";
/*!
   PROJECT : Mes Notes de Frais
   Created by Eoxia
 */
/*--------------------------------------------------------------
 # Fonts
 --------------------------------------------------------------*/
.wrap-frais-pro {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
  /*--------------------------------------------------------------
	# Normalize
	--------------------------------------------------------------*/
  /*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/
  /*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
  /**
 * Propriété générales des listes de note
 */
  /**
 * Status
 */
  /**
 * TTC & TVA
 */
  /**
 * Import des différents tableaux
 */
  /** Read Only */
  /** Input Error */
  /* Archive ancien module formulaire */
  /** Champs dates */
  /** Champs dropdown */
  /** Champs Autocomplete */
  /** Bouton recherche */
  /*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/ }

.wrap-frais-pro *,
.wrap-frais-pro *:before,
.wrap-frais-pro *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

.wrap-frais-pro body {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans";
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.wrap-frais-pro h1, .wrap-frais-pro h2, .wrap-frais-pro h3, .wrap-frais-pro h4, .wrap-frais-pro h5, .wrap-frais-pro h6 {
  clear: both; }

.wrap-frais-pro h1 {
  float: left; }

.wrap-frais-pro h1 {
  float: none; }

.wrap-frais-pro .list-note {
  border: 0; }

.wrap-frais-pro .list-note .note {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; }

.wrap-frais-pro .list-note .note:last-child {
  border-bottom: 0; }

.wrap-frais-pro .list-note .note {
  border-left-width: 3px;
  border-left-style: solid; }

.wrap-frais-pro .list-note .note.en-cours {
  border-left-color: red; }

.wrap-frais-pro .list-note .note-status .status-label {
  font-size: 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 0.2em; }

.wrap-frais-pro .list-note .note-ttc, .wrap-frais-pro .list-note .note-tva {
  text-align: right; }

.wrap-frais-pro .list-note .note-ttc .value, .wrap-frais-pro .list-note .note-tva .value {
  font-weight: 700;
  font-size: 16px; }

.wrap-frais-pro .list-note .note-ttc .currency, .wrap-frais-pro .list-note .note-tva .currency {
  font-size: 12px;
  position: relative;
  top: 1px;
  left: -1px;
  color: rgba(0, 0, 0, 0.4); }

.wrap-frais-pro .list-note .note-ttc .taxe, .wrap-frais-pro .list-note .note-tva .taxe {
  font-size: 10px;
  position: relative;
  top: -10px;
  left: -4px; }

.wrap-frais-pro .list-note.main .note {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wrap-frais-pro .list-note.main .note:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer; }

.wrap-frais-pro .list-note.main .note .note-status .status-label .fa-archive {
  margin: 0 10px; }

.wrap-frais-pro .list-note.main td {
  white-space: nowrap; }

.wrap-frais-pro .list-note.main .note-title {
  white-space: normal;
  width: 100%;
  font-size: 14px; }

.wrap-frais-pro .list-note.main .note-title .note-last-update {
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4); }

.wrap-frais-pro .list-note.main .note-action {
  padding-left: 1.6em; }

.wrap-frais-pro .list-note.main.list-note-unaffected {
  margin-top: 50px; }

.wrap-frais-pro .single-note .container {
  position: relative; }

.wrap-frais-pro .single-note .header {
  background: #898de5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.wrap-frais-pro .single-note .header > * {
  margin: auto 0; }

.wrap-frais-pro .single-note .header .close {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.8em;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wrap-frais-pro .single-note .header .close:hover {
  color: white; }

.wrap-frais-pro .single-note .header .title {
  width: 100%; }

.wrap-frais-pro .single-note .header .title h2 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff; }

.wrap-frais-pro .single-note .header .title .note-last-update {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-style: italic; }

.wrap-frais-pro .single-note .header .validation_status {
  min-width: 150px; }

.wrap-frais-pro .single-note .header .validation_status .dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 0.8em 1.4em; }

.wrap-frais-pro .single-note .header .validation_status .dropdown-toggle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(255, 255, 255, 0.4); }

.wrap-frais-pro .single-note .header .validation_status .dropdown-toggle.button-disable {
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent !important;
  color: rgba(255, 255, 255, 0.6) !important; }

.wrap-frais-pro .single-note .header .validation_status .dropdown-toggle.button-disable .button-icon {
  display: none; }

.wrap-frais-pro .single-note .header .export {
  text-align: right;
  min-width: 130px; }

.wrap-frais-pro .single-note .header .export .dropdown-toggle.button-main {
  background: rgba(255, 255, 255, 0.2); }

.wrap-frais-pro .single-note .header .export .dropdown-toggle.button-main:hover {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none; }

.wrap-frais-pro .single-note .header .export .dropdown-toggle.button-disable {
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent !important;
  color: #898de5 !important; }

.wrap-frais-pro .single-note .header .export .dropdown-toggle.button-transparent {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px; }

.wrap-frais-pro .single-note .header .export .dropdown-toggle.button-transparent:hover {
  color: white; }

.wrap-frais-pro .single-note .header .export .dropdown-content {
  text-align: left; }

.wrap-frais-pro .single-note .content {
  background: #fff;
  padding: 1.6em; }

.wrap-frais-pro .single-note .note-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: -0.4em;
  margin-right: -0.4em; }

.wrap-frais-pro .single-note .note-action > * {
  margin: auto 0.4em; }

.wrap-frais-pro .single-note .note-action .note-ttc, .wrap-frais-pro .single-note .note-action .note-tva {
  display: inline-block; }

.wrap-frais-pro .single-note .note-action .note-ttc .value, .wrap-frais-pro .single-note .note-action .note-tva .value {
  font-weight: 700;
  font-size: 20px; }

.wrap-frais-pro .single-note .note-action .note-ttc .currency, .wrap-frais-pro .single-note .note-action .note-tva .currency {
  font-size: 16px;
  position: relative;
  top: 1px;
  left: -1px;
  color: rgba(0, 0, 0, 0.4); }

.wrap-frais-pro .single-note .note-action .note-ttc .taxe, .wrap-frais-pro .single-note .note-action .note-tva .taxe {
  font-size: 14px;
  position: relative;
  top: -10px;
  left: -4px; }

.wrap-frais-pro .single-note .note-action .note-recap {
  margin-left: auto; }

.wrap-frais-pro .single-note .note-action .display-method .wpeo-button.active {
  background: #898de5;
  color: #fff;
  border-color: #898de5; }

.wrap-frais-pro .list-line {
  border: 0;
  margin-top: 1em; }

.wrap-frais-pro .list-line .line {
  background: #fff !important; }

.wrap-frais-pro .list-line .line .line-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.wrap-frais-pro .list-line .line .table-cell {
  padding: 0 !important; }

.wrap-frais-pro .list-line-header {
  border: 0; }

.wrap-frais-pro .list-line-header .table-header {
  background: none !important; }

.wrap-frais-pro .list-line-header .table-cell {
  color: #898de5 !important;
  padding: .8em 0; }

.wrap-frais-pro .list-line .line-association-selection {
  max-width: 30px; }

.wrap-frais-pro .list-line .line-image {
  max-width: 52px; }

.wrap-frais-pro .list-line .line .line-content > * {
  margin: auto 0 !important;
  padding: 0.2em; }

.wrap-frais-pro .list-line .line .line-content input {
  height: 50px; }

.wrap-frais-pro .list-line .line .line-content input[disabled] {
  background: url("images/disabled-pattern.png") #ececec; }

.wrap-frais-pro .list-line .line .line-content .group-date .mysql-date {
  width: 0; }

.wrap-frais-pro .list-line .line .line-content .type .wpeo-dropdown, .wrap-frais-pro .list-line .line .line-content .type .wpeo-button {
  width: 100%; }

.wrap-frais-pro .list-line .line .line-content .type .dropdown-toggle {
  height: 50px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 28px; }

.wrap-frais-pro .list-line .line .line-content .type .dropdown-toggle .button-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14px; }

.wrap-frais-pro .list-line .line .line-content .type .dropdown-toggle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #dfdfdf; }

.wrap-frais-pro .list-line .line .line-content .status {
  padding: 0.6em; }

.wrap-frais-pro .list-line .line .line-content .status .pin {
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.wrap-frais-pro .list-line .line .line-content .status .pin.line-error {
  background: #e05353; }

.wrap-frais-pro .list-line .line .line-content .status .pin.line-ok {
  background: #47e58e; }

.wrap-frais-pro .list-line .line .line-content .action .dropdown-toggle {
  padding-right: 0; }

.wrap-frais-pro .list-line .line input[readonly] {
  background: url("images/disabled-pattern.png") #ececec;
  pointer-events: none; }

.wrap-frais-pro .list-line .line .type .dropdown-toggle.button-disable {
  background: url("images/disabled-pattern.png") #ececec !important;
  pointer-events: none; }

.wrap-frais-pro .list-line .line .type .dropdown-toggle.button-disable .button-icon {
  display: none; }

.wrap-frais-pro .list-line .notice-info {
  background-color: #FFF;
  margin: 5px 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #00a0d2;
  padding: .8em .6em; }

.wrap-frais-pro .list-line .line .input-error input, .wrap-frais-pro .list-line .line .input-error .dropdown-toggle {
  border: 1px solid #e05353; }

.wrap-frais-pro .single-note.list .list-line .form-element .form-label {
  display: none; }

.wrap-frais-pro .single-note.list .list-line .media-grid {
  display: none; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .image {
  max-width: 55px;
  min-width: 55px; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .date {
  max-width: 140px;
  min-width: 140px; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .libelle {
  width: 100%; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .type {
  max-width: 220px;
  min-width: 220px; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .km, .wrap-frais-pro .single-note.list .list-line-header .table-header > .ttc, .wrap-frais-pro .single-note.list .list-line-header .table-header > .tva {
  max-width: 80px;
  min-width: 80px; }

.wrap-frais-pro .single-note.list .list-line-header .table-header > .status, .wrap-frais-pro .single-note.list .list-line-header .table-header > .action {
  max-width: 30px;
  min-width: 30px; }

.wrap-frais-pro .single-note.list .list-line .line .line-content > .date {
  max-width: 140px;
  min-width: 140px; }

.wrap-frais-pro .single-note.list .list-line .line .line-content > .type {
  max-width: 220px;
  min-width: 220px; }

.wrap-frais-pro .single-note.list .list-line .line .line-content > .km, .wrap-frais-pro .single-note.list .list-line .line .line-content > .ttc, .wrap-frais-pro .single-note.list .list-line .line .line-content > .tva {
  max-width: 80px;
  min-width: 80px; }

.wrap-frais-pro .single-note.list .list-line .line .line-content > .status, .wrap-frais-pro .single-note.list .list-line .line .line-content > .action {
  max-width: 30px;
  min-width: 30px; }

.wrap-frais-pro .single-note.grid .list-line-header {
  display: none; }

.wrap-frais-pro .single-note.grid .list-line .line .line-content {
  margin-top: 0; }

.wrap-frais-pro .single-note.grid .list-line .line .media:not(.no-file), .wrap-frais-pro .single-note.grid .list-line .line .wpeo-media:not(.no-file) {
  width: 100%;
  height: auto; }

.wrap-frais-pro .single-note.grid .list-line .line .media-list {
  display: none; }

.wrap-frais-pro .single-note.grid .list-line .line .form-label {
  color: #898de5;
  text-transform: none;
  font-size: 14px;
  font-weight: 700; }

.wrap-frais-pro .single-note.grid .list-line .line .line-image {
  width: 40%;
  min-width: 40%;
  padding-right: 1em !important; }

.wrap-frais-pro .single-note.grid .list-line .line .line-content {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.wrap-frais-pro .single-note.grid .list-line .line .line-content > .date, .wrap-frais-pro .single-note.grid .list-line .line .line-content > .type {
  min-width: 50%;
  max-width: 50%; }

.wrap-frais-pro .single-note.grid .list-line .line .line-content > .km, .wrap-frais-pro .single-note.grid .list-line .line .line-content > .ttc, .wrap-frais-pro .single-note.grid .list-line .line .line-content > .tva {
  min-width: 33.333333%;
  max-width: 33.333333%; }

.wrap-frais-pro .single-note.grid .list-line .line .line-content > .status {
  margin-left: auto !important; }

.wrap-frais-pro .pin-status .pin-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff; }

.wrap-frais-pro .bloc-search {
  margin-bottom: 2em; }

.wrap-frais-pro .bloc-search .form-element {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.wrap-frais-pro .bloc-search .form-element.form-align-horizontal {
  padding: 1em 0; }

.wrap-frais-pro .bloc-search .form-element:not(.form-align-horizontal):hover {
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.2); }

.wrap-frais-pro .bloc-search .form-field-container:hover .form-field, .wrap-frais-pro .bloc-search .form-field-container:hover .form-icon, .wrap-frais-pro .bloc-search .form-field-container:hover .wpeo-button, .wrap-frais-pro .bloc-search .form-field-container:hover .autocomplete-label {
  background: #fff !important; }

.wrap-frais-pro .bloc-search .wpeo-dropdown .wpeo-button {
  text-align: left;
  background: #fff;
  color: rgba(0, 0, 0, 0.7); }

.wrap-frais-pro .wpeo-form .wpeo-autocomplete .autocomplete-label {
  padding: 0.9em 1em; }

.wrap-frais-pro .single-note .content .document-list-container {
  margin-top: 50px; }

.wrap-frais-pro .single-note .content .document-list-container .document-title {
  white-space: normal;
  font-size: 14px;
  text-transform: uppercase; }

.wrap-frais-pro .single-note .content .document-list-container .document-generation-date {
  font-size: 12px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  text-transform: none; }

.wrap-frais-pro .single-note .content .document-list-container .document-summary .document-icon {
  color: rgba(0, 0, 0, 0.4); }

.wrap-frais-pro .single-note .content .document-list-container .document-action {
  width: 120px;
  text-align: right; }

.wrap-frais-pro .single-note .content .document-list-container .document-action .dropdown-content {
  text-align: left; }

.wrap-frais-pro .single-note .content .document-list-container .document-action .button-disable {
  cursor: auto; }

.wrap-frais-pro .clear:before,
.wrap-frais-pro .clear:after,
.wrap-frais-pro .entry-content:before,
.wrap-frais-pro .entry-content:after,
.wrap-frais-pro .comment-content:before,
.wrap-frais-pro .comment-content:after,
.wrap-frais-pro .site-header:before,
.wrap-frais-pro .site-header:after,
.wrap-frais-pro .site-content:before,
.wrap-frais-pro .site-content:after,
.wrap-frais-pro .site-footer:before,
.wrap-frais-pro .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.wrap-frais-pro .clear:after,
.wrap-frais-pro .entry-content:after,
.wrap-frais-pro .comment-content:after,
.wrap-frais-pro .site-header:after,
.wrap-frais-pro .site-content:after,
.wrap-frais-pro .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Sticky navigation
--------------------------------------------------------------*/
/** Module hors Wrapper car nous avons besoin de la classe body */
.single-note .header.sticky {
  position: fixed;
  left: 180px;
  right: 40px;
  top: 4em;
  z-index: 900; }

@media (max-width: 785px) {
  .single-note .header.sticky {
    left: 10px;
    right: 32px; } }

.sticky-menu.folded .single-note .header.sticky {
  left: 56px; }

@media (max-width: 785px) {
  .wp-responsive-open .single-note .header.sticky {
    left: 217px;
    right: 0; } }

/*--------------------------------------------------------------
# Modules externes
--------------------------------------------------------------*/
