/*!
   PROJECT : Mes Notes de Frais
   Created by Eoxia
 */
/*--------------------------------------------------------------
 # Fonts
 --------------------------------------------------------------*/
.wrap-frais-pro {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
  /*--------------------------------------------------------------
	# Normalize
	--------------------------------------------------------------*/
  /*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/
  /*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
  /*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/ }

.wrap-frais-pro *,
.wrap-frais-pro *:before,
.wrap-frais-pro *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

.wrap-frais-pro html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.wrap-frais-pro body {
  margin: 0; }

.wrap-frais-pro article,
.wrap-frais-pro aside,
.wrap-frais-pro details,
.wrap-frais-pro figcaption,
.wrap-frais-pro figure,
.wrap-frais-pro footer,
.wrap-frais-pro header,
.wrap-frais-pro main,
.wrap-frais-pro menu,
.wrap-frais-pro nav,
.wrap-frais-pro section,
.wrap-frais-pro summary {
  display: block; }

.wrap-frais-pro audio,
.wrap-frais-pro canvas,
.wrap-frais-pro progress,
.wrap-frais-pro video {
  display: inline-block;
  vertical-align: baseline; }

.wrap-frais-pro audio:not([controls]) {
  display: none;
  height: 0; }

.wrap-frais-pro [hidden],
.wrap-frais-pro template {
  display: none; }

.wrap-frais-pro a {
  background-color: transparent; }

.wrap-frais-pro a:active,
.wrap-frais-pro a:hover {
  outline: 0; }

.wrap-frais-pro abbr[title] {
  border-bottom: 1px dotted; }

.wrap-frais-pro b,
.wrap-frais-pro strong {
  font-weight: bold; }

.wrap-frais-pro dfn {
  font-style: italic; }

.wrap-frais-pro h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.wrap-frais-pro mark {
  background: #ff0;
  color: #000; }

.wrap-frais-pro small {
  font-size: 80%; }

.wrap-frais-pro sub,
.wrap-frais-pro sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

.wrap-frais-pro sup {
  top: -0.5em; }

.wrap-frais-pro sub {
  bottom: -0.25em; }

.wrap-frais-pro img {
  border: 0; }

.wrap-frais-pro svg:not(:root) {
  overflow: hidden; }

.wrap-frais-pro figure {
  margin: 1em 40px; }

.wrap-frais-pro hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

.wrap-frais-pro pre {
  overflow: auto; }

.wrap-frais-pro code,
.wrap-frais-pro kbd,
.wrap-frais-pro pre,
.wrap-frais-pro samp {
  font-family: monospace, monospace;
  font-size: 1em; }

.wrap-frais-pro button,
.wrap-frais-pro input,
.wrap-frais-pro optgroup,
.wrap-frais-pro select,
.wrap-frais-pro textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

.wrap-frais-pro button {
  overflow: visible; }

.wrap-frais-pro button,
.wrap-frais-pro select {
  text-transform: none; }

.wrap-frais-pro button,
.wrap-frais-pro html input[type="button"],
.wrap-frais-pro input[type="reset"],
.wrap-frais-pro input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

.wrap-frais-pro button[disabled],
.wrap-frais-pro html input[disabled] {
  cursor: default; }

.wrap-frais-pro button::-moz-focus-inner,
.wrap-frais-pro input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.wrap-frais-pro input {
  line-height: normal; }

.wrap-frais-pro input[type="checkbox"],
.wrap-frais-pro input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

.wrap-frais-pro input[type="number"]::-webkit-inner-spin-button,
.wrap-frais-pro input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

.wrap-frais-pro input[type="search"]::-webkit-search-cancel-button,
.wrap-frais-pro input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.wrap-frais-pro fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

.wrap-frais-pro legend {
  border: 0;
  padding: 0; }

.wrap-frais-pro textarea {
  overflow: auto; }

.wrap-frais-pro optgroup {
  font-weight: bold; }

.wrap-frais-pro table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap-frais-pro td,
.wrap-frais-pro th {
  padding: 0; }

.wrap-frais-pro body,
.wrap-frais-pro button,
.wrap-frais-pro input,
.wrap-frais-pro select,
.wrap-frais-pro optgroup,
.wrap-frais-pro textarea {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans";
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.wrap-frais-pro h1, .wrap-frais-pro h2, .wrap-frais-pro h3, .wrap-frais-pro h4, .wrap-frais-pro h5, .wrap-frais-pro h6 {
  clear: both; }

.wrap-frais-pro h1 {
  float: left; }

@media (max-width: 360px) {
  .wrap-frais-pro .list-note .note .content .element {
    padding: 2em 0; } }

.wrap-frais-pro .clear:before,
.wrap-frais-pro .clear:after,
.wrap-frais-pro .entry-content:before,
.wrap-frais-pro .entry-content:after,
.wrap-frais-pro .comment-content:before,
.wrap-frais-pro .comment-content:after,
.wrap-frais-pro .site-header:before,
.wrap-frais-pro .site-header:after,
.wrap-frais-pro .site-content:before,
.wrap-frais-pro .site-content:after,
.wrap-frais-pro .site-footer:before,
.wrap-frais-pro .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.wrap-frais-pro .clear:after,
.wrap-frais-pro .entry-content:after,
.wrap-frais-pro .comment-content:after,
.wrap-frais-pro .site-header:after,
.wrap-frais-pro .site-content:after,
.wrap-frais-pro .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Modules externes
--------------------------------------------------------------*/
