 /*!
   PROJECT : Mes Notes de Frais
   Created by Eoxia
 */

 /*--------------------------------------------------------------
 # Fonts
 --------------------------------------------------------------*/
 @import "font/ionicons.scss";

.eox-note-frais {

	box-sizing: border-box;
	padding-right: 20px;
	*,
	*:before,
	*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
		box-sizing: inherit;
	}

	@import "variables-site/variables-site";
	@import "mixins/mixins-master";

	/*--------------------------------------------------------------
	# Normalize
	--------------------------------------------------------------*/
	@import "normalize";

	/*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/
	@import "typography/typography.scss";

	/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/
	@import "elements/elements.scss";

	/*--------------------------------------------------------------
	# Modules
	--------------------------------------------------------------*/
	@import "module/module.scss";

}
