/*--------------------------------------------------------------
# Affichage générale
--------------------------------------------------------------*/
.flex-table {
	width: 100%;

	.heading, .row.add {
		@include flexbox();
		flex-wrap: nowrap;
		width: 100%;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;

		li {
			list-style-type: none;
			margin: 0;
		}
		.photo, .action { max-width: 50px; min-width: 50px; }
		.ttc, .ht { max-width: 80px; min-width: 80px; }
		.km, .tva { max-width: 100px; min-width: 100px; }
		.type, .date { max-width: 200px; min-width: 200px; }
	}

	.heading {
		margin: 0;
		padding: 0 0 10px 0;
		li {
			list-style-type: none;
			width: 100%;
			color: $color__main;
			font-weight: 800;
			font-size: 14px;
			padding: 0 4px;
		}
	}

	.row.add {
		li {
			width: 100%;
			padding: 2px;
			max-height: 54px;
			span[contenteditable] {
				background: $color__grey;
				padding: 14px;
				display: inline-block;
				width: 100%;
				font-size: 14px;
				max-height: 50px;
				min-height: 50px;
				white-space: nowrap;
				overflow: hidden;
				@include transition;
				border: 1px solid rgba( $color__main, 0 );
				&:focus {
					border: 1px solid rgba( $color__main, 0.8 );
				}
			}
			&.disabled span {
				background: url("images/disabled-pattern.png") $color__grey;
				pointer-events: none;
				&:hover {
					cursor: default;
				}
			}
			&.ttc, &.tva {
				font-weight: 700;
			}
			&.photo {
				.media {
					background: $color__grey;
				}
			}
			&.libelle {
				span {
					white-space: normal;
				}
			}
		}

		.action {
			text-align: center;
			.icon {
				line-height: 50px;
				color: rgba(0,0,0,0.4);
				font-size: 18px;
				color: $color__blue;
				@include transition;
				&:hover {
					cursor: pointer;
					color: lighten($color__blue, 20%);
				}
			}
		}

		.action-ligne {
			.icon {
				font-size: 26px;
			}
		}

	}

	@media ( max-width: 1200px ) {
		.heading, .row.add {
			.photo, .action { max-width: 50px; min-width: 50px; }
			.ttc, .ht { max-width: 80px; min-width: 80px; }
			.km, .tva { max-width: 80px; min-width: 80px; }
			.type, .date { max-width: 120px; min-width: 120px; }
		}
	}
	@media ( max-width: 1000px ) {
		.heading {
			display: none;
		}
		.row.add {
			flex-wrap: wrap;
			margin-bottom: 40px !important;
			padding-bottom: 40px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			li {
				margin: 0;
				max-height: none;
				&:before {
					display: block;
					color: $color__main;
					font-weight: 800;
					font-size: 14px;
					padding: 0 4px;
					margin-bottom: 4px;
					content: attr(data-title);
				}
			}
			.photo, .action, .ttc, .ht, .km, .tva, .type, .date  {
				max-width: none;
				min-width: 0;
			}
			.date { width: auto; flex-grow: 1; order: 2; margin-left: 4px; }
			.libelle { width: 100%; order: 4; }
			.type { width: 50%; order: 5; }
			.km { width: 50%; order: 6; }
			.ttc { width: 50%; order: 7; }
			// .ht { width: 50%; order: 8; }
			.tva { width: 50%; order: 9; }
			.photo { order: 1; max-width: 50px; min-width: 50px; }
			.action { order: 10; width: auto; margin: auto 0 auto auto; }
		}
	}
	@media ( max-width: 360px ) {
		.row.add {
			li {
				width: 100% !important;
			}
			.action { order: 20; }
		}
	}
}

/*--------------------------------------------------------------
# Affichage en liste
--------------------------------------------------------------*/
.flex-table.list {

	.row:not(.add) {
		@extend .row.add;
		margin-bottom: 0;

		.action .icon {
			color: rgba(0,0,0,0.4);
			&:hover {
				color: $color__red;
			}
		}
		&:nth-of-type( odd ) {
			span[contenteditable], .toggle .content {
				background: darken( $color__grey, 5% );
			}
			.disabled span {
				background: url("images/disabled-pattern.png") darken( $color__grey, 5% ) !important;
			}
			.toggle .content:before {
				border-color: transparent transparent darken( $color__grey, 6% ) transparent;
			}
			.toggle .content {
				&:before {

				}
			}
			.photo {
				.media {
					background: darken( $color__grey, 6% );
				}
			}
		}
	}

}

/*--------------------------------------------------------------
# Affichage en grille
--------------------------------------------------------------*/
.flex-table.grid {

	.row:not(.add) {
		margin-bottom: 20px !important;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		.gridwrapper > div {
			@include flexbox;
			align-content: flex-start
		}
		li {
			width: 100%;
			padding: 2px;
			height: 50px;
			margin-bottom: 4px;
			span[contenteditable] {
				background: $color__grey;
				padding: 14px;
				display: inline-block;
				width: 100%;
				font-size: 14px;
				max-height: 50px;
				min-height: 50px;
				white-space: nowrap;
				overflow: hidden;
				@include transition;
				border: 1px solid rgba( $color__main, 0 );
				&:focus {
					border: 1px solid rgba( $color__main, 0.8 );
				}
			}
			&.disabled span {
				background: url("images/disabled-pattern.png") $color__grey;
				pointer-events: none;
				&:hover {
					cursor: default;
				}
			}
			&.ttc, &.tva {
				font-weight: 700;
			}
			&.photo {
				.media {
					background: $color__grey;
				}
			}
			&.libelle {
				span {
					white-space: normal;
				}
			}
		}
		.photo {
			height: auto;
		}
		.date,  { width: 30%; }
		.libelle { width: 70%; }
		.type, .km, .ttc, .tva { width: 50%; }
		.action { width: auto; margin: auto 0 auto auto; }
		.action {
			text-align: center;
			.icon {
				line-height: 50px;
				color: rgba(0,0,0,0.4);
				font-size: 18px;
				@include transition;
				&:hover {
					cursor: pointer;
					color: $color__red;
				}
			}
		}
	}
	.media:not(.no-file) {
		width: 100% !important;
		height: auto !important;
	}

	.gridwrapper {
		div:first-child {
			width: 40%;
		}
		div:last-child {
			width: 60%;
		}
	}

}
