.list-note.main {
	.note {
		@include transition();

		&:hover {
			background: rgba(0,0,0,0.05);
			cursor: pointer;
		}

		.note-status .status-label .fa-archive {
			margin: 0 10px;
		}
	}
	td {
		white-space: nowrap;
	}
	.note-title {
		white-space: normal;
		width: 100%;
		font-size: 14px;

		.note-last-update {
			font-size: 12px;
			font-style: italic;
			color: rgba(0,0,0,0.4);
		}
	}
	.note-action {
		padding-left: 1.6em;
	}
	&.list-note-unaffected {
		margin-top: 50px;
	}
}
