// Affichage GRID
.list-line.grid .list-line-header {
	display: none;
}

.list-line.grid .line {
	.line-image {
		width: 40%;
		min-width: 40%;
	}
	.line-content {
		flex-wrap: wrap;

		.libelle { order: 1; }
		.date { order: 2; }
		.type { order: 3; }
		.km { order: 4; }
		.ttc { order: 5; }
		.tva { order: 6; }
		.status { order: 7; }
		.action { order: 8; }

		.date, .type {
			min-width: 50%;
			max-width: 50%;
		}
		.km, .ttc, .tva {
			min-width: 33.333333%;
			max-width: 33.333333%;
		}
		.status {
			margin-left: auto !important;
		}
	}
}
