// Affichage GRID
.single-note.grid .list-line-header {
	display: none;
}
.single-note.grid .list-line .line {
		.line-content {
			margin-top: 0;
		}
}

// Media
.single-note.grid .list-line .line {
	.media:not(.no-file), .wpeo-media:not(.no-file) {
		width: 100%;
		height: auto;
	}
	.media-list {
		display: none;
	}
}

.single-note.grid .list-line .line {
	.form-label {
		color: $color__primary;
		text-transform: none;
		font-size: 14px;
		font-weight: 700;
	}
	.line-image {
		width: 40%;
		min-width: 40%;
		padding-right: 1em !important;
	}
	.line-content {
		flex-wrap: wrap;
	
		> .date, > .type {
			min-width: 50%;
			max-width: 50%;
		}
		> .km, > .ttc, > .tva {
			min-width: 33.333333%;
			max-width: 33.333333%;
		}
		> .status {
			margin-left: auto !important;
		}
	}
}
