.single-note.list .list-line {
	.form-element .form-label {
		display: none;
	}
	.media-grid {
		display: none;
	}
}

@media ( max-width: $media__small ) {
	.single-note.list .list-line-header {
		display: none;
	}
}


// tailles header pour list
.single-note.list .list-line-header .table-header {
	> .image {
		max-width: 55px;
		min-width: 55px;
	}
	> .date {
		max-width: 140px;
		min-width: 140px;
	}
	> .libelle {
		width: 100%;
	}
	> .type {
		max-width: 220px;
		min-width: 220px;
	}
	> .km, > .ttc, > .tva {
		max-width: 80px;
		min-width: 80px;
	}
	> .status, > .action {
		max-width: 30px;
		min-width: 30px;
	}
}

// Tailles fields
.single-note.list .list-line .line .line-content {
	> .date {
		max-width: 140px;
		min-width: 140px;
	}
	> .type {
		max-width: 220px;
		min-width: 220px;
	}
	> .km, > .ttc, > .tva {
		max-width: 80px;
		min-width: 80px;
	}
	> .status, > .action {
		max-width: 30px;
		min-width: 30px;
	}

	@media ( max-width: $media__small ) {
		flex-wrap: wrap;


		> .date, > .type {
			min-width: 100%;
			max-width: 100%;
		}
		> .km, > .ttc, > .tva {
			min-width: 33.333333%;
			max-width: 33.333333%;
		}
		> .status {
			margin-left: auto !important;
		}
	}
}
.single-note.list .list-line .line {
	@media ( max-width: $media__small ) {
		&:not(:first-child) {
			margin-top: 1em;
			border-top: 1px solid rgba(0,0,0,0.1);
			padding-top: 1em;
		}
		.media-list {
			display: none;
		}
		.media-grid {
			display: block;
		}
		.line-image {
			min-width: 100%;
			max-width: 100%;
			padding-right: 0 !important;

			.media:not(.no-file), .wpeo-media:not(.no-file) {
				width: 100%;
				height: auto;
			}
		}
		.form-element .form-label {
			display: block;
			color: $color__primary;
			text-transform: none;
			font-size: 14px;
			font-weight: 700;
		}
	}
}
