// Content
.single-note .content .document-list-container {
	margin-top: 50px;

	.document-title {
		white-space: normal;
		font-size: 14px;
		text-transform: uppercase;
	}
	.document-generation-date {
		font-size: 12px;
		font-style: italic;
		color: rgba(0,0,0,0.4);
		text-transform: none;
	}

	.document-summary {
		.document-icon {
			color: rgba(0,0,0,0.4);
		}
	}

	.document-action {
		width: 120px;
		text-align: right;

		.dropdown-content {
			text-align: left;
		}
		.button-disable {
			cursor: auto;
		}
	}
}

/** Responsive */
@media ( max-width: $media__small ) {
	.single-note .content .document-list-container {
		display: block;

		td::before {
			display: none;
		}
		td {
			text-align: left !important;
		}
		.document-title span {
			word-wrap: break-word;
			hyphens: auto;
		}
	}
}
