*[contenteditable]:focus {
	outline: none;
}

.ndfl-placeholder-container {
	position: relative;
}
.ndfl-placeholder {
	color: rgba(0,0,0,.4);
	position: absolute;
	left: 6px;
	bottom: 6px;
	pointer-events: none;
}
