.note {

	.header {
		background: $color__main;
		position: relative;
		display: flex;
		height: 90px;
		.title {
			font-size: 24px;
			font-weight: 100;
			color: #fff;
			padding: 0 120px 0 15px;
			margin: auto 0;
		}
		.export, .archive {
			background: rgba(255,255,255,0.2);
			padding: 0 0 0 2px !important;
			color: #fff;
			border-radius: 50%;
			position: absolute;
			right: 15px;
			top: 20px;
			width: 50px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			font-size: 28px;
			&:hover {
				background: rgba(255,255,255,0.3);
			}
		}
		.export {
			right: 80px;
		}
	}
	.status, .validation_status {
		.pin-status {
			&:before {
				display: inline-block;
				content: '';
				width: 8px;
				height: 8px;
				margin-right: 8px;
				border-radius: 50%;
				background: #fff;
			}
			&.en-cours:before { background: $color__main; }
			&.valide:before { background: $color__blue; }
			&.paye:before { background: $color__green; }
			&.refuse:before { background: $color__red; }
		}
	}

}
