.bloc-search {
	margin-bottom: 2em;

	.form-element {
		transition: all 0.2s ease-out;
	}
	.form-element:hover {
		box-shadow: 0 0 14px rgba(0,0,0,0.2);
	}
	.form-field-container {
		&:hover .form-field, &:hover .form-icon, &:hover .wpeo-button, &:hover .autocomplete-label {
			background: #fff !important;
		}
	}
}

.bloc-search .wpeo-dropdown .wpeo-button {
	text-align: left;
}

.wpeo-form .wpeo-autocomplete .autocomplete-label {
	padding: 0.9em 1em;
}

/* Archive ancien module formulaire */

/** Champs dates */
// .bloc-search .group-date {
// 	input {
// 		background: #fff;
// 		height: 50px;
//
// 		&:hover {
// 			box-shadow: 0 0 14px rgba(0,0,0,0.2);
// 		}
// 		&:hover, &:focus {
// 			background: #fff;
// 		}
// 	}
// }

/** Champs dropdown */
// .bloc-search .wpeo-dropdown {
// 	width: 100%;
// }
// .bloc-search .wpeo-dropdown .dropdown-toggle {
// 	background: #fff;
// 	border: 0;
// 	height: 100%;
// 	height: 50px;
// 	color: rgba(0,0,0,0.6);
// 	font-size: 14px;
// 	width: 100%;
// 	text-align: left;
// 	padding-right: 2em;
//
// 	&:hover {
// 		box-shadow: 0 0 14px rgba(0,0,0,0.2);
// 	}
// 	.button-icon {
// 		position: absolute;
// 		right: 1em;
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// }

/** Champs Autocomplete */
// .bloc-search .wpeo-autocomplete  {
// 	.autocomplete-label {
// 		height: 50px;
// 		box-shadow: none;
// 		border: 0;
// 		padding: 1.2em;
//
// 		&:hover {
// 			box-shadow: 0 0 14px rgba(0,0,0,0.2);
// 			border: 0;
// 		}
// 	}
// }

/** Bouton recherche */
// .bloc-search .wpeo-button {
// 	&:hover {
// 		box-shadow: inset 0 -3em rgba(255,255,255,.25)
// 	}
// }
